body {
    background-color: beige;
    font-size: 16px;
    line-height: 1.5;
}

h1, 
h2,
h3 
a {
    color: olive; background-color: blanchedalmond;
    padding-block: 20px;
}

.hlavicka,
.volnycas {
    background-color: beige;
    padding-block: 20px;
}

.prace,
.paticka {
    background-color: blanchedalmond;
    padding-block: 30px;
}

.hlavicka img {
    border-radius: 50px;
}
.volnycas img {
    border-radius: 75px;
}